.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.button {
  background-color: rgb(89, 23, 16);
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.button:disabled {
  background-color: rgb(124, 124, 124);
}
.active {
  scale: 1.2;
  background-color: rgb(255, 157, 0);
}
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.input {
  color: black;
  display: inline-block;
  margin: 10px;
}
.label {
  display: inline-block;
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
