@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 25, 25, 25;
  --background-end-rgb: 25, 25, 25;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 25, 25, 25;
    --background-end-rgb: 25, 25, 25;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.demo-container {
  width: 30vw;
  margin-top: 100px;
  position: relative;
  bottom: 10vh;
}

.progress-bar {
  height: 20px;
  background-color: rgba(80, 80, 80, 0.2);
  width: 100%;
  overflow: hidden;
  position: relative;
  bottom: 10vw;
  border-radius: 40px;
}

.progress-bar-value {
  width: 100%;
  height: 100%;
  background-color: rgba(124, 0, 0, 0.593);
  animation: indeterminateAnimation 1s infinite;
  transform-origin: 0% 50%;
}
p {
  white-space: pre-wrap;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

/* ImageTrackComponent.css */

.image-track {
  display: flex;
  gap: 4vmin;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  user-select: none;
  margin-top: 12rem;
  margin-bottom: -12rem;
  overflow-y: scroll;
}

.image-track::-webkit-scrollbar {
  display: none; /* Hide the scrollbar */
}

.image-track .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
