

.container {
    
    width: 400px;
    height: 150px;
    display: block;
    border: 10px solid #C70039;
    border-radius: 30px;
    border-width: 3px;
    border-color: #C70039;
    background-color: #393646;
    margin: 10px;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;

}

.slick-slide {  
    position: relative;  
    z-index: 1; 
    /* your choice,  but make sure z-index of active slide is higher than this value */
  }  
.slick-slide.slick-current {  
     z-index: 10;  
  }

  .card {
    height: max(10px, 15vw);
    width: 150px;
    display: flex;
    border: 10px solid #c70039;
    border-radius: 30px;
    border-width: 3px;
    border-color: #c70039;
    background-color: #272727;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 1);
    overflow: hidden;
    z-index: 0;
  }
  
  .circle {
    background-color: #404040;
    width: 170px;
    height: 150px;
    z-index: 1;
    top: 5px;
    left: 10px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  
    position: absolute;
  
    overflow: hidden;
  }
  
  .img {
    background-color: white;
    width: 5vw;
    height: 5vw;
    position: relative;
    margin-left:30%;
    border-radius: 50%;
    margin-top: 15%;
  }
  
  .text {
    height: 50px;
    width: 150px;
    color: white;
    font-size: auto;
  
    position: absolute;
    margin-left: 1%;
    top: 50vh;
    text-align: center;
  }

  .title {
    height: auto;
    width: auto;
    color: white;
    font-size: auto;
    display: block;
    position: absolute;
    
  
  
    margin: 20px;
    text-align: center;
  }
  
  
  .text2 {
    height: auto;
    width: auto;
    color: white;
    font-size: auto;
  
    position: relative;
    display: flex;
    margin:10px;
    margin-top: auto;
    overflow: warp;
  
    text-align: center;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  
  }
  


  

  

  